@import "tailwindcss";

@font-face {
  font-family: "freeFa900";
  src: url("/fonts/free-fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "free";
  src: url("/fonts/free.woff2") format("woff2");
}

@font-face {
  font-family: "freeBold";
  src: url("/fonts/freeBold.woff2") format("woff2");
}

@font-face {
  font-family: "extraCursive";
  src: url("/fonts/extraCursive.woff2") format("woff2");
}

html {
  background-color: #45524c; /* Movimos el color de fondo aquí */
}

body {
  font-family: "freeBold", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  background-color: #45524c;
}

/* 3. CORREGIDO: El root ya no es una caja de scroll, es solo un contenedor normal */
#root {
  width: 100%;
  min-height: 100dvh; /* Permite que crezca según el contenido */
}

img {
  object-fit: cover;
}

/* Estado inicial (oculto, más abajo y un poco más pequeño) */
.animate-on-scroll {
  opacity: 0;
  transform: translateY(30px) scale(0.9);
  transition:
    opacity 1s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 1s cubic-bezier(0.215, 0.61, 0.355, 1);
  will-change: opacity, transform;
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
