@import "tailwindcss";

@font-face {
  font-family: "freeFa900";
  src: url("/fonts/free-fa-solid-900.woff2") format("woff2");
}

@font-face {
  font-family: "free";
  src: url("/fonts/free.woff2") format("woff2");
}

@font-face {
  font-family: "freeBold";
  src: url("/fonts/freeBold.woff2") format("woff2");
}

@font-face {
  font-family: "extraCursive";
  src: url("/fonts/extraCursive.woff2") format("woff2");
}

html {
  overflow: hidden;
  height: 100%;
  background-color: #45524c;
}

body {
  background-color: #45524c;
  font-family: "freeBold", Arial, Helvetica, sans-serif;

  overflow: auto;
  height: 100%;
}

img {
  object-fit: cover;
}

.animate-on-scroll {
  opacity: 0;
  transform: translateY(20px) scale(0.95); /* Menos agresivo */
  transition:
    opacity 0.8s ease-out,
    transform 0.8s ease-out;
  /* Elimina will-change temporalmente para probar */
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden; /* Ayuda a que iOS use hardware acceleration de forma más estable */
}

.animate-on-scroll.is-visible {
  opacity: 1;
  transform: translateY(0) scale(1);
}
